{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="row"> 
<h3 class="mx-auto" style="color: #7386D5">
    What is Numerithms about? 🤔
</h3>  

<div>
    <P class="w-50 mx-auto">
        As a Computer Science student, we were required to study various algorithms, and mathematical procedures.
        Many of them are <span class="font-weight-bold">Numerical methods</span>, while some other are <span class="font-weight-bold">algorithms</span>.
        That was why I decided to build this. I wanted to implement these algorithms using Vanilla JavaScript only.
        <br />

        How did I coin the word, <span class="font-italic">Numerithms?</span>
        <br />
        <span class="font-weight-bold">Numerical methods</span> + <span class="font-weight-bold">Algorithms</span> = Numerithms

        <br /><br />
        I hope you enjoy using it. 😀
    </p>
</div>


</div>

{% endblock content %}